<div class="dynamic-table-wrapper">
  <div class="table-controls">
    <!-- Search Input -->
      <!-- <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput [(ngModel)]="searchText" (input)="applyFilters()" placeholder="Search all columns..." />
      </mat-form-field> -->

    <!-- Room Type Filter -->
    <ng-container *ngIf="enableRoomTypeFilter">
      <mat-form-field appearance="outline">
        <mat-label>Room Type</mat-label>
        <mat-select [(ngModel)]="selectedRoomType" (selectionChange)="applyFilters()">
          <mat-option value="">All</mat-option>
          <mat-option *ngFor="let type of roomTypes" [value]="type">{{ type }}</mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>

    <!-- Date Filter -->
    <ng-container *ngIf="showDateFilter">
      <mat-form-field appearance="outline">
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="startPicker" [(ngModel)]="selectedStart" (dateChange)="applyFilters()" />
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>End Date</mat-label>
        <input matInput [matDatepicker]="endPicker" [(ngModel)]="selectedEnd" (dateChange)="applyFilters()" />
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
      </mat-form-field>
    </ng-container>

    <button mat-stroked-button color="primary" (click)="clearFilters()">Clear Filters</button>
  </div>

  <!-- Table -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 full-width-table">

  <!-- Dynamic Columns -->
  <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column.key">
    <th mat-header-cell *matHeaderCellDef> {{ column.label }} </th>

    <td mat-cell *matCellDef="let row">
      <ng-container [ngSwitch]="column.key">

        <!-- Format Dates -->
        <ng-container *ngSwitchCase="'checkInDate'">
          {{ row['checkInDate'] | date: 'dd-MM-yyyy' }}
        </ng-container>

        <ng-container *ngSwitchCase="'checkOutDate'">
          {{ row['checkOutDate'] | date: 'dd-MM-yyyy' }}
        </ng-container>

        <!-- Format Price -->
        <ng-container *ngSwitchCase="'totalPrice'">
          ${{ row['totalPrice'] }}
        </ng-container>

        <!-- Default case for dynamic values -->
        <ng-container *ngSwitchDefault>
          <ng-container *ngIf="isChipArray(row[column.key]); else plainText">
            <app-chip-popover
              [services]="row[column.key]"
              [buttonLabel]="getChipLabel(column.label, row[column.key])">
            </app-chip-popover>
          </ng-container>
          <ng-template #plainText>
            {{ getNestedValue(row, column.key) }}
          </ng-template>
        </ng-container>

      </ng-container>
    </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container *ngIf="enableActions" matColumnDef="actions">
  <th mat-header-cell *matHeaderCellDef> Actions </th>
  <td mat-cell *matCellDef="let row">

    <!-- Edit Icon -->
    <ng-container *ngIf="enableEdit">
      <button mat-icon-button color="primary" (click)="onEdit(row)" matTooltip="Update">
        <mat-icon>edit_note</mat-icon>
      </button>
    </ng-container>

    <!-- Delete Icon (based on condition) -->
    <ng-container *ngIf="alwaysShowDelete || row.canDelete; else cannotDelete">
      <button mat-icon-button color="warn" (click)="onDelete(row)" matTooltip="Delete">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </ng-container>

    <!-- Fallback message if delete not allowed -->
   <ng-template #cannotDelete>
  <span [matTooltip]="DeleteMessage">
    <button mat-icon-button disabled>
      <mat-icon color="warn">block</mat-icon>
    </button>
  </span>
</ng-template>

  </td>
</ng-container>



  <!-- Table Row Definitions -->
  <tr mat-header-row *matHeaderRowDef="enableActions ? columnKeys.concat('actions') : columnKeys"></tr>
  <tr mat-row *matRowDef="let row; columns: enableActions ? columnKeys.concat('actions') : columnKeys"></tr>

</table>


  <mat-paginator *ngIf="shouldShowPaginator()" [length]="dataSource.data.length" [pageSize]="pageSize"
    [pageSizeOptions]="getPageSizeOptions()" showFirstLastButtons>
  </mat-paginator>
</div>