<div class="table-controls">
  <mat-form-field appearance="outline">
    <mat-label>Search</mat-label>
    <input matInput [(ngModel)]="searchText" (input)="applyFilters()" placeholder="Search all columns..." />
  </mat-form-field>

  <ng-container *ngIf="serviceDropdown?.length">
    <mat-form-field appearance="outline" disabled>
      <mat-label>Available Services</mat-label>
      <mat-select>
        <mat-option *ngFor="let service of serviceDropdown" [value]="service">
          {{ service }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>

  <mat-form-field appearance="outline">
    <mat-label>Start Date</mat-label>
    <input matInput [matDatepicker]="startPicker" [(ngModel)]="selectedStart" (dateChange)="applyFilters()" />
    <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
    <mat-datepicker #startPicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>End Date</mat-label>
    <input matInput [matDatepicker]="endPicker" [(ngModel)]="selectedEnd" (dateChange)="applyFilters()" />
    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
    <mat-datepicker #endPicker></mat-datepicker>
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 full-width-table">
  <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
    <th mat-header-cell *matHeaderCellDef> {{ column | titlecase }} </th>
    <td mat-cell *matCellDef="let row">
      <ng-container [ngSwitch]="column">
        <ng-container *ngSwitchCase="'checkInDate'">
          {{ row.checkInDate | date: 'dd-MM-yyyy' }}
        </ng-container>
        <ng-container *ngSwitchCase="'checkOutDate'">
          {{ row.checkOutDate | date: 'dd-MM-yyyy' }}
        </ng-container>
        <ng-container *ngSwitchCase="'serviceNames'">
          <div *ngIf="row.serviceNames?.length">
            <mat-chip *ngFor="let service of row.serviceNames" color="primary" selected>
              {{ service }}
            </mat-chip>
          </div>
        </ng-container>
        <ng-container *ngSwitchDefault>
          {{ column.includes('.') ? getNestedValue(row, column) : row[column] }}
        </ng-container>
      </ng-container>
    </td>
  </ng-container>

  <ng-container *ngIf="enableActions" matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let row">
      <ng-container *ngIf="enableEdit">
        <button mat-button color="primary" (click)="onEdit(row)">Edit</button>
      </ng-container>
      <button mat-button color="warn" (click)="onDelete(row)">Delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="enableActions ? displayedColumns.concat('actions') : displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: enableActions ? displayedColumns.concat('actions') : displayedColumns"></tr>
</table>

<mat-paginator
  [length]="dataSource.data.length"
  [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons>
</mat-paginator>
