<!-- room-list.component.html -->
<div class="sort-control">
  <button mat-button (click)="toggleSortOrder()">
    Sort by Price {{sortOrder === 'asc' ? '↑' : '↓'}}
  </button>
</div>
<div class="cards-container">
  <mat-card class="example-card" appearance="outlined" *ngFor="let room of paginatedRooms">
    <div class="card-content-container">
      <div class="image-section">
        <img mat-card-image [src]="room.imageUrl" alt="{{ room.title }} Image">
      </div>

      <mat-card-content class="description">
        <h3 class="room-title">{{ room.title }}</h3>
        <p>{{ room.description }}</p>
      </mat-card-content>

      <div class="sidebar">
        <div class="price-section">
          <mat-card-subtitle>${{ room.price }}</mat-card-subtitle>
          <span class="per-night">{{ room.period }}</span>
        </div>
        <mat-card-actions>
          <button mat-raised-button color="primary" class="book-button"(click)="selectRoom(room)">Book Now</button>
        </mat-card-actions>
      </div>
    </div>
  </mat-card>
<div class="mat-page">
  <mat-paginator [length]="rooms.length" [pageSize]="pageSize" [pageSizeOptions]="[3, 5, 10]"
    (page)="onPageChange($event)" aria-label="Select page">
  </mat-paginator>
</div>
 
</div>