<div class="date-range-calendar">
  <div class="calendar-fields">
    <mat-form-field appearance="fill">
      <mat-label>Start Date</mat-label>
      <input matInput [matDatepicker]="startPicker" [(ngModel)]="selectedStart" (dateChange)="onDateChange()">
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>End Date</mat-label>
      <input matInput [matDatepicker]="endPicker" [(ngModel)]="selectedEnd" (dateChange)="onDateChange()">
      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>
  </div>
</div>

<mat-table [dataSource]="filteredReservations" class="mat-elevation-z8">
  <ng-container matColumnDef="reservationId">
    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.reservationId}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="checkInDate">
    <mat-header-cell *matHeaderCellDef> Check-In </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.checkInDate}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="checkOutDate">
    <mat-header-cell *matHeaderCellDef> Check-Out </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.checkOutDate}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="totalPrice">
    <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
    <mat-cell *matCellDef="let element"> ₹{{element.totalPrice}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="roomNumber">
    <mat-header-cell *matHeaderCellDef> Room </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.roomNumber}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="roomTypeName">
    <mat-header-cell *matHeaderCellDef> Room Type </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.roomTypeName}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="guestName">
    <mat-header-cell *matHeaderCellDef> Guest </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.guest.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="guestPhone">
    <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.guest.phone}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
