<div class="guest-reservation">

    <mat-card *ngIf="guest$ | async as guest" class="guest-info-card" appearance="outlined">
        <mat-card-header>
            <mat-card-title>Welcome, {{ guest.name }}</mat-card-title>
            <mat-card-subtitle>Guest Details</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p><strong>Email:</strong> {{ guest.email }}</p>
            <p><strong>Phone:</strong> {{ guest.phone }}</p>
        </mat-card-content>
    </mat-card>

    <hr />

    <app-dynamic-table [displayedColumns]="displayedColumns" [data]="(reservations$ | async) ?? []" [enableActions]="true"
        [enableEdit]="false" [showDateFilter]="false" [DeleteMessage]="'Cannot delete past reservations.'"
        (delete)="onDelete($event)">
    </app-dynamic-table>


    <app-dynamic-card [data]="selectedServiceDetails" [fields]="['name', 'description']" [enableEdit]="false"
        [enableDelete]="false">
    </app-dynamic-card>

</div>
  