<div class="layout-container">
   
    <div class="main-content">
<div class="reservation-container">
  <h2>Hotel Reservation</h2>
  <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()" class="reservation-form">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Check-in</mat-label>
      <input matInput [matDatepicker]="checkInPicker" formControlName="checkInDate"
        (dateChange)="onCheckInDateChange()">
      <mat-datepicker-toggle matSuffix [for]="checkInPicker"></mat-datepicker-toggle>
      <mat-datepicker #checkInPicker></mat-datepicker>
      <mat-error *ngIf="reservationForm.get('checkInDate')?.hasError('required')">
        Required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Check-out</mat-label>
      <input matInput [matDatepicker]="checkOutPicker" formControlName="checkOutDate" [min]="minCheckOutDate">
      <mat-datepicker-toggle matSuffix [for]="checkOutPicker"></mat-datepicker-toggle>
      <mat-datepicker #checkOutPicker></mat-datepicker>
      <mat-error *ngIf="reservationForm.get('checkOutDate')?.hasError('required')">
        Required
      </mat-error>
      <mat-error *ngIf="reservationForm.get('checkOutDate')?.hasError('matDatepickerMin')">
        Must be after check-in
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Room Type</mat-label>
      <mat-select formControlName="roomType" (selectionChange)="onRoomTypeChange($event.value)">
        <mat-option [value]="null">All</mat-option> <!-- This allows clearing -->
        <mat-option *ngFor="let type of availableRoomType" [value]="type">
          {{ type | titlecase }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    

    <button mat-raised-button color="primary" type="submit" [disabled]="reservationForm.invalid"
      class="submit-button">Submit</button>
  </form>
 
    
</div>

<div class="content-container">
  <div class="roomlist">
    <app-room-list [filterCriteria]="filterCriteria"
    (sendAllAvailableRoomTypes)="getAllAvailableRoomTypes($event)"></app-room-list>
  </div>

  <div class="hotelcard-wrapper">
    <div class="hotelcard">
      <app-hotel-card></app-hotel-card>
    </div>
  </div>
  </div>
</div>


<!-- npm install ng2-charts@4.1.1 chart.js -->