   <div class="nav-bar" >
    <app-navbar></app-navbar>
   </div>
<div class="reservation-container">
  <h2>Hotel Reservation</h2>
  <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()" class="reservation-form">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Check-in</mat-label>
      <input matInput [matDatepicker]="checkInPicker" formControlName="checkInDate"
        (dateChange)="onCheckInDateChange()">
      <mat-datepicker-toggle matSuffix [for]="checkInPicker"></mat-datepicker-toggle>
      <mat-datepicker #checkInPicker></mat-datepicker>
      <mat-error *ngIf="reservationForm.get('checkInDate')?.hasError('required')">
        Required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Check-out</mat-label>
      <input matInput [matDatepicker]="checkOutPicker" formControlName="checkOutDate" [min]="minCheckOutDate">
      <mat-datepicker-toggle matSuffix [for]="checkOutPicker"></mat-datepicker-toggle>
      <mat-datepicker #checkOutPicker></mat-datepicker>
      <mat-error *ngIf="reservationForm.get('checkOutDate')?.hasError('required')">
        Required
      </mat-error>
      <mat-error *ngIf="reservationForm.get('checkOutDate')?.hasError('matDatepickerMin')">
        Must be after check-in
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Room Type</mat-label>
      <mat-select formControlName="roomType">
        <mat-option value="single">Single</mat-option>
        <mat-option value="deluxe">Deluxe</mat-option>
        <mat-option value="family">
          Family</mat-option>
         <mat-option value="double">Double</mat-option>
          <mat-option value="double">Double</mat-option>
      </mat-select>
      <mat-error *ngIf="reservationForm.get('roomType')?.hasError('required')">
        Required
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="reservationForm.invalid"
      class="submit-button">Submit</button>
  </form>
 
    
 
</div>

<app-room-list [filterCriteria]="filterCriteria"></app-room-list>
