<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <h3 class="sidebar-title">Admin Dashboard</h3>
    <mat-nav-list>
      <!-- <a mat-list-item routerLink="reservations" routerLinkActive="active-link">Reservations</a> -->
      <a mat-list-item routerLink="booking-calendar" routerLinkActive="active-link">Booking Calendar</a>
       <a mat-list-item routerLink="room" routerLinkActive="active-link">Room</a>
       <a mat-list-item routerLink="room-type" routerLinkActive="active-link">Room Type</a>
      <a mat-list-item routerLink="employee" routerLinkActive="active-link">Employee</a>
      <a mat-list-item routerLink="department" routerLinkActive="active-link">Department</a>
      <a mat-list-item routerLink="revenue" routerLinkActive="active-link">Revenue Chart</a>


    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>