<div class="calendar-wrapper">
    <!-- Header -->
    <div class="calendar-header">

        <div class=" room-type-filter">
            <!-- <span class="room-type-label">Room Type</span> -->
            <select [(ngModel)]="selectedRoomTypeId" (ngModelChange)="onRoomTypeChange($event)">
                <option [ngValue]="null">All Types</option>
                <option *ngFor="let type of roomTypes" [ngValue]="type.id">{{ type.type }}</option>
            </select>
        </div>
        <button mat-icon-button (click)="previousMonth()">
            <mat-icon>chevron_left</mat-icon>
        </button>
        <span class="month-label">{{ getMonthLabel() }}</span>
        <button mat-icon-button (click)="nextMonth()">
            <mat-icon>chevron_right</mat-icon>
        </button>

        <div class="filter-chips">
 <mat-chip-listbox>
  <mat-chip-option
    *ngFor="let filter of dateOptions"
    [selected]="dateFilter === filter"
    (click)="onChipFilterClick(filter)"
    [color]="dateFilter === filter ? 'primary' : undefined"
  >
    {{ getFilterLabel(filter) }}
  </mat-chip-option>

  <mat-chip-option
    *ngIf="!isCurrentMonthView()"
    (click)="goToCurrentMonth()"
    color="accent"
    [selected]="false"
    class="go-to-month-chip"
  >
    Go to {{ getCurrentMonthLabel() }}
  </mat-chip-option>
</mat-chip-listbox>


</div>



    </div>

    <!-- Day Headers -->
    <div class="calendar-days">
        <!-- Room Type Cell with label and dropdown -->
        <div class="room-cell room-label-cell">
            Room    </div>
        <!-- Hidden first cell for width measurement -->
        <div class="day-cell" #firstDayRef style="visibility: hidden; position: absolute;"></div>
    
        <!-- Days -->
        <div class="day-cell" *ngFor="let day of monthDays; let i = index" [ngClass]="{
            today: isToday(day.label),
            weekend: day.isWeekend
          }" [attr.id]="isToday(day.label) ? 'todayCell' : null">
            {{ day.label }}
        </div>
    </div>
  

    <!-- Booking Rows -->
    <div class="calendar-rows">
        <div *ngFor="let room of filteredRooms" class="calendar-row">
            <div class="room-cell">{{ room.roomNo }}</div>
            <div class="calendar-grid">
                <div class="day-cell" *ngFor="let day of monthDays"></div>
            
                <ng-container *ngFor="let booking of getBookingsForRoom(room.id)">
                    <app-booking-bar *ngIf="cellWidth > 0" 
                        [booking]="booking" [calendarStartDate]="currentMonth"
                        [totalDaysInMonth]="monthDays.length"
                         [cellWidth]="cellWidth"
                          (bookingClick)="openDialog($event)">
                    </app-booking-bar>
                </ng-container>
            </div>
              
        </div>
    </div>
    </div>