<h2 mat-dialog-title>Booking Details</h2>

<mat-dialog-content class="dialog-content">

  <div class="section-box">
    <h3>Guest</h3>
    <app-dynamic-card
      [data]="[data]"
      [fields]="['guestName', 'phoneNumber', 'email']"
      [enableEdit]="false"
      [enableDelete]="false">
    </app-dynamic-card>
  </div>

  <div class="section-box">
    <h3>Reservation</h3>
    <app-dynamic-card
      [data]="[data]"
      [fields]="['roomId', 'startDate', 'endDate', 'totalPrice']"
      [enableEdit]="false"
      [enableDelete]="false">
    </app-dynamic-card>

    <app-chip-popover
      *ngIf="data.serviceNames?.length"
      [services]="data.serviceNames ?? []"
      buttonLabel="View Services">
    </app-chip-popover>
  </div>

 

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onClose()">Close</button>
  <button mat-raised-button color="warn"
          *ngIf="data.canDelete"
          (click)="onDelete()">Cancel Booking</button>
</mat-dialog-actions>
